@import "tailwindcss";
@plugin "@tailwindcss/typography";


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}